.fa-arrow-circle-up,
.fa-arrow-circle-down {
  position: absolute;
  bottom: 3rem;
  /* left: calc(50vw - 1rem); */
  right: 1rem;
  z-index: 12;
  font-size: 2rem;
  /* color: #fff; */
  /* background: #fff;
  border-radius: 50%; */
}

.fa-arrow-circle-down {
  bottom: 1rem;
}

.fa-arrow-circle-up:hover,
.fa-arrow-circle-down:hover {
  cursor: pointer;
}

.fa-bars {
  font-size: 2rem;
  color: #2f4858;
  /* color: #fff; */
  /* background: #2f4858; */
  /* border-radius: 10px; */
  /* padding: 0.5rem; */
  /* box-shadow: 1px 1px 3px black; */
}

.fa-arrow-alt-circle-up {
  font-size: 3rem;
  color: #fff;
  background: #2f4858;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.fa-arrow-alt-circle-up:hover {
  color: rgb(255, 255, 255, 0.9);
  cursor: pointer;
}
