.fa-arrow-circle-up,
.fa-arrow-circle-down {
  position: absolute;
  bottom: 3rem;
  /* left: calc(50vw - 1rem); */
  right: 1rem;
  z-index: 12;
  font-size: 2rem;
  /* color: #fff; */
  /* background: #fff;
  border-radius: 50%; */
}

.fa-arrow-circle-down {
  bottom: 1rem;
}

.fa-arrow-circle-up:hover,
.fa-arrow-circle-down:hover {
  cursor: pointer;
}
