.images {
  list-style: none;
}

.images > li > div > div {
  width: 96px;
  height: 96px;
}

.resImages > div > div {
  width: 96px;
  height: 96px;
}

@media screen and (max-width: 680px) {
  /* .images > li > div > div {
    width: 70px;
    height: 70px;
  } */
  /* #html,
  #css,
  #js,
  #react,
  #redux,
  #firebase,
  #postCSS,
  #styledCp,
  #git,
  #github,
  #netlify,
  #vercel {
    width: 70px;
    height: 70px;
  } */
}

#html {
  /* background-position: 0 -200px; */
  background: url(../assets/html.png);
}

#css {
  /* background-position: -64px 0; */
  background: url(../assets/css.png);
}

#js {
  /* background-position: -128px 0; */
  background: url(../assets/javascript.png);
}

#postCSS {
  background: url(../assets/PostCSS.png);
}

#styledCp {
  background: url(../assets/styledCp.png);
}

#react {
  /* background-position: 0 0; */
  background: url(../assets/react.png);
}

#redux {
  /* background-position: 0 0; */
  background: url(../assets/redux.png);
}

#next {
  /* background-position: 0 0; */
  background: url(../assets/next.png);
}

#firebase {
  /* background-position: 0 0; */
  background: url(../assets/firebase.png);
}

#git {
  /* background-position: 0 0; */
  background: url(../assets/git.png);
}

#github {
  /* background-position: 0 0; */
  background: url(../assets/github.png);
}

#netlify {
  background: url(../assets/netlify.png);
}

#vercel {
  /* background-position: 0 0; */
  background: url(../assets/vercel.png);
}
