/* .slick-dots {
  position: absolute;
  top: 45vh;
  right: 1rem;
  z-index: 10;
} */

.dots {
  position: absolute;
  top: 40vh;
  right: 1rem;
  z-index: 10;
}

.dots li {
  background: lightgray;
  box-shadow: 1px 1px 3px black;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0.5rem 0;
  /* overflow: hidden; */
}

.dots li button {
  /* background: lightgray;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: none;
  color: transparent;
  box-shadow: 1px 1px 3px black;
  margin: 0; */
  visibility: hidden;
}

.dots li:hover {
  cursor: pointer;
}

.dots li > p {
  text-align: end;
  width: 7rem;
  padding-right: 2rem;
  transform: translate(-5.5rem, -0.3rem);
  color: transparent;
}

/* .dots li > p:nth-child(1) {
  background: red;
}
.dots li > p:nth-child(2) {
  background: orange;
}
.dots li > p:nth-child(3) {
  background: green;
}
.dots li > p:nth-child(4) {
  background: blue;
} */

.dots li > p:hover {
  color: white;
  text-shadow: 1px 1px 3px black;
  /* background: rgb(0, 0, 0, 0.5); */
}

.dots > .slick-active {
  background: gray;
}
